* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hide {
  display: none;
}
.show {
  display: block;
}
/* to mainContainer and body*/
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: hsl(214, 47%, 23%);
}

/* to header */
.header {
  display: flex;
  gap: 54%;
  color: bisque;
  border: 2px solid hsl(217, 16%, 45%);
  margin-top: 30px;
  width: 50%;
  margin-left: 350px;
  border-radius: 10px;
  padding: 15px;
}
.Name {
  margin-top: 6px;
}
.Score {
  border: 1px solid white;
  background-color: white;
  color: black;
  width: 20%;
  text-align: center;
  padding-top: 13px;
  border-radius: 10px;
}
.ScoreNumber {
  font-size: 35px;
}
/* mainGameZone */
.mainGameZone {
  width: 100%;
  height: 40%;
}
.nameOfPicked {
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #ffffff;
  padding: 30px;
  margin-top: 80px;
}
.FaceGAme {
  margin-left: 30px;
  text-align: center;
  height: 330px;
}
.imgOfmaingame {
  text-align: center;
  border: 15px solid hsl(349, 70%, 56%);
  border-radius: 50%;
  width: 150px;
  padding: 20px;
  padding-top: 38px;
  background-color: #ffffff;
}
.imgandyouPic,
.imgandOtherPic {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.imgOfpaper {
  text-align: center;
  border: 15px solid hsl(230, 89%, 65%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px;
  padding-top: 30px;
  background-color: #ffffff;
}
.imgOfRo {
  text-align: center;
  border: 15px solid hsl(349, 70%, 56%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px;
  padding-top: 38px;
  background-color: #ffffff;
}
.imgOfSci {
  text-align: center;
  border: 15px solid hsl(40, 84%, 53%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px;
  padding-top: 38px;
  background-color: #ffffff;
}
.Result {
  font-size: 35px;
}
.ResultAndAgain {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.playAgain {
  width: 200px;
  padding: 13px;
  border-radius: 10px;
  border: none;
  letter-spacing: 1px;
  font-size: 16px;
}
.playAgain:hover {
  color: red;
  background-color: #dad3d3;
}
/* top play round */
.PlaySection {
  width: 40%;
  height: 410px;
  margin-left: 410px;
  padding-top: 125px;
  padding-left: 120px;
}
.BackgroundTranigle {
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  width: 70%;
  height: 80%;
}

.imgOfpaperdiv {
  text-align: center;
  border: 15px solid hsl(230, 89%, 65%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px;
  padding-top: 30px;
  background-color: #ffffff;
  position: absolute;
  left: 470px;
  top: 220px;
}
.imgOfRock {
  text-align: center;
  border: 15px solid hsl(349, 70%, 56%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px;
  padding-top: 38px;
  background-color: #ffffff;
  position: absolute;
  left: 615px;
  top: 440px;
}
.imgOfScissors {
  text-align: center;
  border: 15px solid hsl(40, 84%, 53%);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px;
  padding-top: 38px;
  background-color: #ffffff;
  position: absolute;
  left: 750px;
  top: 220px;
}
/* to coder name and Rules butoon*/
.RuleAndCoder {
  display: flex;
  gap: 57%;
  justify-content: center;
  align-items: center;
}
.resetAndRule {
  width: 20%;

  display: flex;
  gap: 15px;
}
.rulesBtn {
  margin-bottom: 10px;
  width: 50%;
  padding: 12px;
  border-radius: 7px;
  border: none;
  font-size: 18px;
  background-color: hsl(214, 47%, 23%);
  border: 1px solid whitesmoke;
  color: #ffffff;
}
.rulesBtn:hover {
  background-color: hsl(214, 41%, 32%);
}
.attribution {
  margin-top: 40px;
  font-size: 11px;
  text-align: left;
  color: aliceblue;
}
.attribution a {
  color: hsl(230, 8%, 85%);
}

/* to popUp button */
.RulesPopUp {
  background-color: #ffffff;
  width: 28%;
  height: 396px;
  position: absolute;
  top: 150px;
  padding: 20px;
  left: 496px;
  text-align: center;
  border-radius: 8px;
}
.nameRule {
  color: rgb(31, 28, 28);
}
.nameAndClose {
  padding-top: 10px;
  display: flex;
  gap: 75%;
  margin-bottom: 40px;
}
.closeBtn {
  width: 20px;
  height: 18px;
}

/* to jump circle */
.heloo {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background: rgb(26, 24, 24);
  position: relative;
  animation: mymove 1s infinite; /* Changed animation duration to 2s and set it to repeat infinitely */
  border: 10px solid rgb(22, 22, 48);
}

@keyframes mymove {
  0% {top: 0px;} 
  50% {top: -10px; background-color: rgb(19, 18, 18); border: 20px solid rgb(34, 32, 32); width: 150px;height: 150px;} /* Jump up by 50px at 50% of animation duration */
  100% {top: 0px;} 
}


.hello{
  box-shadow: 0px 0px 0px 20px rgb(184, 171, 171);
  border-radius: 50%;
}
.firstline{
  box-shadow: 0px 0px 0px 40px rgba(129, 125, 125, 0.103);
  border-radius: 50%;
  z-index: -1;
}
.secondBorder{
  box-shadow: 0px 0px 0px 80px rgba(129, 125, 125, 0.075);
  border-radius: 50%;
  z-index: -1;

}
.thirdBorder{
  box-shadow: 0px 0px 0px 120px rgba(129, 125, 125, 0.096);
  border-radius: 50%;
  z-index: -1;

}
